@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");



* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
.header{
    position: fixed;
    height: 40px;
    width: 100%;
    z-index: 100;
    padding: 0 20px;
} 
.nav {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto ; 

}

.nav_item{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}
.nav_logo,
.nav_link,
.button{
    color: azure;
}
.nav_logo{
    font-size: 25px;
}
.nav_item{column-gap: 25px;
}
.nav_link:hover{
    color: aquamarine;
}
.button{
    padding: 6px 24px;
    border: 2px solid #fff;
    background: transparent;
    border-radius: 6px;
    cursor: pointer;
}
.button:active{
    transform: scale(0.98);
}


.home{
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url(homepage\ bg\ f.jpeg);
    background-size: cover;
    background-position: center;
}
.form_container{
    position: absolute;
    max-width: 320px;
    width: 100%;
    top: 50%;
    left: 70%;
    transform: translate(-50%,-50%);
    z-index: 101;
    background: #fbfbfc;
    padding: 25px;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.1);
}
.form_close{
    position: absolute;
    top: 10px;
    right: 20px;
    color: #000;
    font-size: 22px;
    opacity: 0.7;
    cursor: pointer;
}
.form_container h2{
    font-size: 22px;
    color: #000;
    text-align: center;
}
.input_box{
    position: relative;
    margin-top: 30px;
    width: 100%;
    height: 40px;
}
.input_box input{
    height: 100%;
    width: 100%;
    padding: 0 30px;
    color: #333;
    border: none;
    outline: none;
    border-bottom: 1.5px solid #aaaaaa;
    transition: all 0.2s ease;
}
.input_box input:focus~i.password,
.input_box input:focus~i.email{
    border-color: blueviolet;
}
.input_box i {
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 20px;
}
.input_box i.password,
.input_box i.email{
    left: 0;
    color: #aaaaaa;

}
.input_box i.pw_hide {
    right: 0;
    font-size: 18px;
}
.option_feild{
    margin-top: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.form_container a{
    color: blueviolet;
    font-size: 14px;
}
.form_container a:hover{
    text-decoration: underline;
     
}
.checkbox{
    display: flex;
    white-space: nowrap;
    column-gap: 8px;
}
.checkbox input{
    accent-color:blueviolet ;
}
.checkbox label{
    font-size: 14px;
    user-select: none;
    cursor: pointer;
    color: #0b0217;
}
.form_container .button{
    background: blueviolet;
    margin-top: 30px;
    width: 100%;
    padding: 10px 0;
    border-radius: 10px;
}
.login_signup{
    font-size: 14px;
    text-align: center;
    margin-top: 15px;
}